.airbnb{
    width: 100px;
    height: 30px;
    padding-top: 15px;
    padding-left: 70px;
}
.bouton{
    margin:400px;
    
}
.profil{
    width: 40px;
}
.loupe{
    width: 40px;
}
.globe{
    width: 25px;
    height: 25px;
}
.conteneur{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.photo img{
    width: 350px;
    height: 350px;
}
.photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.apercu{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: left;
    
}
.piscine{
    width: 25px;
}
.mer{
    width: 25px;
}
.vue{
    width: 25px;
}
.granges{
    width: 25px;
}
.design{
    width: 25px;
}   
.ski{
    width: 25px;
}
.luxe{
    width: 25px;
}
.dômes{
    width: 25px;
}
.grandes_demeures{
    width: 25px;
}
.campagne{
    width: 25px;
}
.wow{
    width: 25px;
}
.cabanes{
    width: 25px;
}
