.piscine{
    width: 25px;
}
.mer{
    width: 25px;
}
.vue{
    width: 25px;
}
.granges{
    width: 25px;
}
.design{
    width: 25px;
}   
.ski{
    width: 25px;
}
.luxe{
    width: 25px;
}
.dômes{
    width: 25px;
}
.grandes_demeures{
    width: 25px;
}
.campagne{
    width: 25px;
}
.wow{
    width: 25px;
}
.cabanes{
    width: 25px;
}